
<span ng-hide="hideMenuBarButt" id="naviBar">

        <div class="fontStyle2" ng-click="toggle()">Core Java <span ng-hide ="menuBarCoreJava" class= "caretRtNav" id="goToUp"></span>
            <span ng-show="menuBarCoreJava" class= "caretRtUpnav" ></span>
        </div>

        <span ng-show="menuBarCoreJava" class="naviSt">
            <div  class="naviSt"><a class="fontStyle" href="#/">Overview</a></div>
            <div class="naviSt"><a class="fontStyle" href="#basicProgram">Basic Programe</a></div>
<!--        <div class="naviSt"><a class="fontStyle" href="#basicProgram?scrollTo=basicProgram">Basic Programe</a></div>-->
            <div class="naviSt"><a class="fontStyle" href="#starPattern">Star Pattern</a></div>
            <div class="naviSt"><a class="fontStyle" href="#constructor">Constructor</a></div>
            <div class="naviSt"><a class="fontStyle" href="#oppConcept">OOP Concept</a></div>
            <div class="naviSt"><a class="fontStyle" href="#overloading">Method Overloading</a></div>
            <div class="naviSt"><a class="fontStyle" href="#overriding">Method Overriding</a></div>
            <div class="naviSt"><a class="fontStyle" href="#array">Array</a></div>
            <div class="naviSt"><a class="fontStyle" href="#string">String</a></div>
            <div class="naviSt"><a class="fontStyle" href="#exceptionHendaling">Exception Hendaleing</a></div>
            <div><a class="fontStyle" href="#collection">Collection</a></div>
            <div><a class="fontStyle" href="#multiThrading">Multithreading</a></div>
            <div><a class="fontStyle" href="#date">Date</a></div>
            <!--                            <div><a class="fontStyle" href="#jdbcConnection">Jdbc Connection</a></div>-->
        </span>


        <div class="fontStyle2" ng-click="toggle1()">J2EE <span ng-hide ="menuBarJ2ee" class= "caretRtNav" ></span>
            <span ng-show="menuBarJ2ee" class= "caretRtUpnav"  ></span>
        </div>
        <span ng-show="menuBarJ2ee" class="naviSt">
            <div><a class="fontStyle" href="#jdbcConnection">Jdbc Connection</a></div>
            <div><a class="fontStyle" href="#servlet">Java Servlets</a></div>
            <div><a class="fontStyle" href="#jsp">JavaServer Pages (JSP)</a></div>
        </span>


        <div class="fontStyle2" ng-click="toggle2()">LINUX <span ng-hide ="menuBarUnix" class= "caretRtNav" ></span>
            <span ng-show="menuBarUnix" class= "caretRtUpnav"  ></span>
        </div>
        <span ng-show="menuBarUnix" class="naviSt">
            <div><a class="fontStyle" href="#basicLinux">Linux basic</a></div>
            <div><a class="fontStyle" href="#linuxCommand">Linux Commund</a></div>
        </span>


        <div class="fontStyle2" ng-click="toggle3()">MISCELLANEOUS<span ng-hide ="menuBarMic" class= "caretRtNav" ></span>
            <span ng-show="menuBarMic" class= "caretRtUpnav"  ></span>
        </div>
        <span ng-show="menuBarMic" class="naviSt" >
            <div><a class="fontStyle" href="#questionPaper">Quetion Paper</a></div>
            <div><a class="fontStyle" href="#suggetionPaper">Suggetion Paper</a></div>
            <div ><a class="fontStyle" href="#quiz"> Quiz Paper </a></div>
            <div><a  class="fontStyle" href="#askQuestion">Ask Question</a></div>
        </span>


        <div id="NaviGeatPage" style="font-size: 165%;color: black;font-weight: bold; font-style: oblique;"> <a style="color: black" href="#googleMap">Google Map</a></div>


        <div id="testNaviMenu" style="font-size: 165%;color: black;font-weight: bold; font-style: oblique;"> <a style="color: black" href="#codeTest">Java Code Test</a></div>


        <!--                        <div style="margin-top:20px;">

                                    <div><a class="fontStyle1" href="#questionPaper">Quetion Paper</a></div>
                                    <div><a class="fontStyle1" href="#suggetionPaper">Suggetion Paper</a></div>
                                    <div><a class="fontStyle1" href="#quiz"> Quiz Paper </a></div>
                                    <div><a class="fontStyle1" href="#askQuestion">Ask Question</a></div>

                                </div>-->
</span>